   body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    
    
  }
  .img-logo{
    height: auto;
    display: block;
    max-width: 100%;

  }
  .container {
      max-width: 100%;
      width: 1400px;
      height: 375px;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      display: flex;
    padding-top: 85px;
  }

  .list{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
    font-size: 18px;
    line-height: 96.4%;
    
  }
  .a-main{
    color: #ADADAD;
    font-weight: 200;
    font-size: 14px;
    line-height: 134.4%;
    gap: 20px;
    display: inline-flex;
    text-decoration: none;
  }
  footer{
    background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
  }
  .foter-joy{
    
  }
    .div-fut{
     display: flex;
     margin: 0 auto;
    }
    .ul-futer{
      display: flex;
      align-items: center;
      
      
    }

    .p-futer{
      color: #ADADAD;
      font-weight: 400;
      font-size: 14px;
      line-height: 134.4%;
      padding-top: 25px;
      width: 214px;
      height: 38px;
    }
    .p-futer-1{
      color: #efebeb;
      text-decoration-line: underline;
      font-weight: 300;
      font-size: 14px;
      line-height: 134.4%;
      padding-top: 21px;
    }
